@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --green: rgba(26, 172, 131, 1);
  --green-dark: rgba(26, 172, 131, 0.8);
  --choco: rgba(85, 85, 85, 1);
  --error: rgba(231, 25, 90, 1);
}

* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

.navbar--wrapper {
  background-image: linear-gradient(to right, var(--green-dark),  var(--green));
  box-shadow: 0px 1px 7px -2px var(--green);
  margin: 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 576px) {
  .navbar--wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.navbar--sign-container span a {
  font-size: 0.8rem;
  margin: 0 0 0 8px;
}

.navbar--sign-container button.logout {
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0;
  color: white;
  background-color: transparent;
  border: 0.04rem solid white;
  transition: color, background-color 0.2s ease-in-out;
}

.navbar--sign-container button.logout:hover {
  color: var(--green);
  background-color: white;
}

@media (max-width: 576px) {
  .navbar--sign-container button.logout {
    margin: 8px 0;
  }
}

@media (max-width: 576px) {
  .navbar--sign-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .navbar--sign-container span {
    margin: 0 0 2px 0;
  }

  .navbar--sign-container span a {
    margin: 0;
  }
}

.navbar--btn, .navbar--btn i {
  color: white;
}

.navbar--item {
  list-style: none;
}

.navbar--item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  color: #f1f1f1;
  transition: color 0.2s ease-in-out;
}

.pages{
  max-width: 1400px;
  padding: 24px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 96px;
}

@media (max-width: 576px) {
  .home {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.workout-card, .sign-card {
  background-color: white;
  border: none;
  border-radius: 8px;
  margin: 0 auto 24px;
  padding: 24px;
  position: relative;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.05);
}

.sign-card {
  max-width: 18rem;
}

.workout-card h4 {
  font-size: 1.2rem;
  color: var(--green);
  margin-bottom: 8px;
}

.workout-card p {
  font-size: 0.9rem;
  color: var(--choco);
  margin: 0;
}

.workout-card p.date {
  font-size: 0.9rem;
  color: var(--choco);
  margin: 4px 0 0;
}

form  {
  display: flex;
  flex-direction: column;
}

form h4 {
  font-size: 1.2rem;
  color: var(--green);
  margin-bottom: 8px;
  text-align: center;
}

form input {
  border: 0.04rem solid var(--choco);
  outline: none;
  border-radius: 4px;
  margin: 0 0 8px 0;
  padding: 4px 8px;
}

input.error {
  border: 0.08rem solid var(--error);
  background-color: white;
  color: black;
}

form button {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
  background-color: var(--green-dark);
  transition: background-color 0.2s ease-in-out;
}

form button:hover {
  background-color: var(--green);
}

.workout-card button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.workout-card button i {
  color: orange;
  transition: color 0.2s ease-in-out;
}

.workout-card button:hover i {
  color: red;
}

.error {
  text-align: center;
  padding: 8px;
  margin: 16px 0;
  background-color: #ffefef;
  border-radius: 4px;
  color: var(--error);
}
